.header img {
  position: center;
  float: middle;
  width: 700px;
  height: 100px;
  background: #555;
  position: center;
}

.header h1 {
  position: center
  top: 18px;
  left: 10px;
}

body {
  background-color: #ccff99;
}
.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}

.test{
  height:1000px;

}
.container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
}
.item {
  background-color: #80cbc4;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.egg {
  width: 25%;
  height: 40%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 5px solid #0A1F47;
  position: absolute;
  left: 35%;
  top: 60%;
  margin-left: 0%;
  margin-top: -25%;
  background: white;
  background-image:
  radial-gradient(salmon 20%, transparent 0),
  radial-gradient(salmon 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}


#container {
  width: 600px;
  margin: 0px;
}

#name {
  position: relative;
  text-align: left;
  top: 20px;
  left: 10px;
}

.wrap {
  min-width: 800px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: arial;
  padding: 0px 50px;
}

.home {
  min-height: 250px;
  min-width: 300px;
  width: 25%;
  height: 35%;
  background-color: #FFB6C1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 300px;
  top: 200px;
  margin-left: -35%;
  margin-top: -10%;
  -webkit-box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  -moz-box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  position: relative;
}

.home:after {
  content: "";
  display: block;
  background: white;
  width: 160%;
  height: 150%;
  position: relative;
  position: absolute;
  left: -30%;
  top: -25%;
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  -ms-border-radius: 1500px;
  -o-border-radius: 1500px;
  border-radius: 1500px;
  z-index: -1;
  -webkit-box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
  -moz-box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
  box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
}

.pet {
  width: 200px;
  height: 150px;
  position: absolute;
  z-index: 2;
  position: absolute;
  left: 70%;
  top: 100%;
  margin-left: -180px;
  margin-top: -125px;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.pet .head {
  width: 40%;
  height: 30%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #FCE835;
  position: absolute;
  left: 40%;
  top: 50%;
  margin-left: 0%;
  margin-top: -25%;
  border: 5px solid #0A1F47;
  border-color: #0A1F47;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  z-index: 3;
  -webkit-box-shadow: 1px 3px 10px -5px #333333;
  -moz-box-shadow: 1px 3px 10px -5px #333333;
  box-shadow: 1px 3px 10px -5px #333333;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

.pet .left-ear {
  width: 30%;
  height: 70%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #0A1F47;
  position: absolute;
  top: -40%;
  left: 5%;
  bottom: 10%;
}

.pet .right-ear {
  width: 30%;
  height: 70%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #0A1F47;
  position: absolute;
  top: -40%;
  left: 65%;
  bottom: 10%;
}

.pet .body {
  width: 25%;
  height: 30%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 5px solid #0A1F47;
  background: #FCE835;
  position: absolute;
  left: 48%;
  top: 76%;
  margin-left: 0%;
  margin-top: -25%;
}

.pet .eyes span {
  width: 20%;
  height: 20%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  font-size: 15px;
  border: 1px solid #000;
}

.pet .left-eye {
  left: 20%;
  top: 30%;
}

.pet .right-eye {
  right: 20%;
  top: 30%;
}

.pet .mouth {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: bold;
  font-family: arial;
  font-size: 24px;
  position: absolute;
  left: 60%;
  top: 45%;
  margin-left: -10px;
  margin-top: 7px;
}

p, h1 {
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.greeting {
  text-align: center;
  font-style: italic;
}

.outside {
  text-align: left;
}

.button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 10px 35px;
}

.metrics {
  font-size: 10px;
  position: relative;
  left: 550px;
  bottom: 300px;
}

.configurations {
  position: relative;
  left: 0px;
  top: 0px;
  padding-bottom: 70px;
  padding-top: 0;
}


/* //egg */
.egg {
  width: 25%;
  height: 40%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 5px solid #0A1F47;
  position: absolute;
  left: 35%;
  top: 60%;
  margin-left: 0%;
  margin-top: -25%;
  background: white;
  background-image:
  radial-gradient(salmon 20%, transparent 0),
  radial-gradient(salmon 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

/* arms */

.pet .left-arm {
  width: 30%;
  height: 70%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #0A1F47;
  position: absolute;
  top: 0%;
  left: -20%;
  bottom: 20%;
}

.pet .right-arm {
  width: 30%;
  height: 70%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #0A1F47;
  position: absolute;
  top: 0%;
  left: 88%;
  bottom: 20%;
}
