
body {
  background-color: #ccff99;
}
/* 
.rules {
  width: 20px;
  right: 200px; */
}

.resize {
    width: 300px;
    height: auto;
}

.home {
  min-height: 250px;
  min-width: 300px;
  width: 25%;
  height: 35%;
  background-color: #FFB6C1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 300px;
  top: 200px;
  margin-left: -35%;
  margin-top: -10%;
  -webkit-box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  -moz-box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  position: relative;
}

.home:after {
  content: "";
  display: block;
  background: white;
  width: 160%;
  height: 150%;
  position: relative;
  position: absolute;
  left: -30%;
  top: -25%;
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  -ms-border-radius: 1500px;
  -o-border-radius: 1500px;
  border-radius: 1500px;
  z-index: -1;
  -webkit-box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
  -moz-box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
  box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
}
p, h1 {
  font-size: 2em;
  font-family: "Impact5", Impact5;
}


.outside {
  text-align: left;
}

.button {
  font-family: "Lucida Sans Unicode";
  font-size: 16px;
  text-align: center;
  padding: 10px 35px;
}

.metrics {
  font-size: 10px;
  position: relative;
  left: 550px;
  bottom: 300px;
}

.configurations {
  position: relative;
  left: 0px;
  top: 0px;
  padding-bottom: 70px;
  padding-top: 0;
}


/* //egg */
.egg {
  width: 25%;
  height: 40%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 5px solid #0A1F47;
  position: absolute;
  left: 35%;
  top: 60%;
  margin-left: 0%;
  margin-top: -25%;
  background: white;
  background-image:https://img.buzzfeed.com/buzzfeed-static/static/enhanced/webdr03/2013/3/5/16/enhanced-buzz-orig-1000-1362519633-12.jpg?downsize=715:*&output-format=auto&output-quality=auto
  radial-gradient(salmon 20%, transparent 0),
  radial-gradient(salmon 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
